{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .form-control{
    height:50px;
    margin-bottom:3%;
    background:gray;
    border:none;
    }
</style>
<div class="text-center fs-2 my-2">User<b class="txt-mycolor ">Login</b>
</div>
<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            {% csrf_token %}
            USERNAME <input type="email" name="email" placeholder="Username" class="form-control">
            PASSWORD <input type="password" name="passwd" placeholder="Password" class="form-control">
            <input type="submit" value="Login"  class="btn bg-mycolor text-light"/>
        </form>
    </div>
</div>

{% endblock %}